.row-header
{
	margin:0px auto ;
	padding:0px;

}

.row-content
{
	margin:0px auto ;
	padding:50px 0px;
	border-bottom: 1px ridge;
	min-height: 200px;


}

.footer
{
	background: black;
	opacity:0.9;
	color:white;
	margin: 0px auto ;
	padding:20px 0px;

}

.jumbotron{
	margin: 0px auto;
	padding: 70px 30px;
	color:white;
	background-color: black;
	opacity: .9;

}

address{
	font-size: 80%;
}
