.row-header
{
	margin:0px auto ;
	padding:0px;

}

.row-content
{
	margin:0px auto ;
	padding:50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;


}

.footer
{
	background: #7D3C98;
	opacity:0.9;
	color:white;
	margin: 0px auto ;
	padding:20px 0px;

}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.jumbotron{
	margin: 0px auto;
	padding: 70px 30px;
	color:black;
	background-color: #C39BD3 ;
	opacity: .9;

}

address{
	font-size: 80%;
}

.navbar-dark
{
	background-color:#7D3C98;
	color: black;
}